@model CombinedParkWeather
@{
    var parkWeather = Model.GetParkWeather();
    ParkDataModel park = (ParkDataModel)(parkWeather["park"]);
    IList<DailyWeatherModel> weather = (List<DailyWeatherModel>)(parkWeather["weather"]);
    string tempUnits = (string)(parkWeather["tempUnits"]);
    ViewData["Title"] = "ParkDetails";
}

<h2><strong>@park.ParkName</strong></h2>
<p><img src="~/img/parks/@(park.ParkCode).jpg" /></p>
<p><strong>Year Founded: </strong>Founded in @park.YearFounded and located in @park.State, at an elevation of @park.Elevation.ToString("#,#") ft.</p>
<p><strong>Features: </strong>Features @park.CampsiteNumber campsites and @park.TrailLength miles of trails. Visted by @park.AnnualVisitors.ToString("#,#") visitors every year.</p>
<p><strong>Entry fee: </strong>@park.EntryFee.ToString("C")</p>
<p><strong>Description: </strong>@park.Description</p>
<blockquote>
    <p>@park.Quote</p>
    <footer>@park.QuoteSource</footer>
</blockquote>

<h3><strong>Five Day Forcast</strong></h3>
<div class="row">
    @foreach (var day in weather)
    {
        string forecastImg = String.Empty;

        if (day.Forecast == "partly cloudy")
        {
            forecastImg = "partlyCloudy";
        }
        else
        {
            forecastImg = day.Forecast;
        }
        <div class="well col-sm-2">
            <h4 style="text-align: center;">@day.Day</h4>
            <p><img src="~/img/weather/@(forecastImg).png" style="width: 100%" alt="Forecast: @day.Forecast" /></p>
            <p>High: @(Model.ConvertTemp(day.HighTemp).ToString("#,##"))&#176; @tempUnits, Low: @(Model.ConvertTemp(day.LowTemp).ToString("#,##"))&#176; @tempUnits</p>
            <p class="warning">@day.Message</p>
        </div>
    }
</div>

<form asp-controller="Home" asp-action="SetTempUnits" method="get">
    <p>Current Units: @tempUnits</p>
    @{ 
        string OppositeUnits = "C";
        if (tempUnits == "C")
        {
            OppositeUnits = "F";
        }
    }
    <input type="hidden" name="parkCode" value="@park.ParkCode" />
    <input type="hidden" name="tempUnits" value="@OppositeUnits" />
    <input type="submit" name="submit" value="Toggle Units" />
</form>
